.vs
SonOfRobin.Android/bin
SonOfRobin.Android/obj
SonOfRobin.Core/bin
SonOfRobin.Core/obj
SonOfRobin.Core/Content/bin
SonOfRobin.Core/Content/obj
SonOfRobin.DesktopGL/bin
SonOfRobin.DesktopGL/obj
SonOfRobin.DesktopGL/Publish
SonOfRobin.iOS/bin
SonOfRobin.iOS/obj
SonOfRobin.WindowsDX/bin
SonOfRobin.WindowsDX/obj
SonOfRobin.WindowsUWP/bin
SonOfRobin.WindowsUWP/obj
SonOfRobin_Windows.zip
SonOfRobin_Linux.zip
SonOfRobin_OSX.zip
SonOfRobin_Linux.tar.gz
SonOfRobin_OSX.tar.gz
